@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.light {
  --color-base: theme("colors.white");
  --color-text-base: theme("colors.black");
}

.dark {
  --color-base: theme("colors.gray.900");
  --color-text-base: theme("colors.gray.100");
}
